# Copyright (c) 2025 Analog Devices, Inc.
# SPDX-License-Identifier: MIT

if ADC

menu "ADC"

config ADC_EMUL_GENERATOR
	bool "ADC emulator generator"
	default y
	depends on DT_HAS_IIO_ADC_EMUL_GENERATOR_ENABLED && ADC_EMUL

endmenu

endif # ADC
