# If you make changes to builds or artifacts, please check and update the following files if needed:
# README.md, CI/azure/prepare_assets.sh, artifact_manifest.txt.cmakein, CI/publish_deps.ps1

variables:
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
  isRelease: $[startsWith(variables['Build.SourceBranch'], 'refs/tags/v')]
  # Default build type for all builds
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/v') }}:
    cmakeBuildType: 'Release'
  ${{ else }}:
    cmakeBuildType: 'RelWithDebInfo'

trigger:
  branches:
    include:
    - main
    - next_stable
    - dev
    - libiio-v0
    - staging/*
    - 20*
  tags:
    include:
    - v*

pr:
  branches:
    include:
    - main
    - next_stable
    - dev
    - 20*

stages:
- stage: Builds
  #############################################
  # Builds
  #############################################
  jobs:
  - job: WindowsBuilds
    # Host Box
    strategy:
      matrix:
        VS2022:
          vmImage: 'windows-2022'
          COMPILER: 'Visual Studio 17 2022'
          ARCH: 'x64'
          PLATFORM_TOOLSET: 'v143'
          artifactName: 'Windows-VS-2022-x64'
        VS2026: 
          vmImage: 'windows-2025'
          COMPILER: 'Visual Studio 18 2026'
          ARCH: 'x64'
          PLATFORM_TOOLSET: 'v145'
          artifactName: 'Windows-VS-2026-x64'
    pool:
      vmImage: $[ variables['vmImage'] ]
    steps:
    - checkout: self
      fetchDepth: 1
      clean: true
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
    - task: PowerShell@2
      displayName: 'Install CMake 4.2.3'
      inputs:
        targetType: 'inline'
        script: |
          choco install cmake --version 4.2.3 -y --no-progress --force
          echo "##vso[task.prependpath]C:\Program Files\CMake\bin"
          cmake --version
    - task: CmdLine@2
      displayName: 'Build dependecies'
      inputs:
        script: |
          git submodule update --init
          .\CI\azure\windows_build_deps.cmd
    - task: PowerShell@2
      inputs:
        targetType: 'filePath'
        filePath: .\CI\build_win_msvc.ps1
      displayName: 'Build'
    - task: CopyFiles@2
      displayName: 'Copy libraries'
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/build-msvc/Release'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: CopyFiles@2
      displayName: 'Copy public headers'
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/include'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: CopyFiles@2
      displayName: 'Copy .exe files'
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/build-msvc/utils/Release'
        contents: '*.exe'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: CopyFiles@2
      displayName: 'Copy libiio-sharp.dll file'
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/build-msvc/bindings/csharp'
        contents: 'libiio-sharp.dll'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: CopyFiles@2
      displayName: 'Copy dependencies sources archive'
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/'
        contents: 'Windows-msvc-deps.zip'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: PowerShell@2
      displayName: 'Copy dependencies'
      inputs:
        targetType: 'filePath'
        filePath: .\CI\publish_deps.ps1
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifactName: '$(artifactName)'

  #############################################
  - job: GenerateSetupExe
    dependsOn: WindowsBuilds
    strategy:
      matrix:
        Win2022:
          imageName: 'windows-2022'
        Win2025:
          imageName: 'windows-2025'
    pool:
      vmImage: $(imageName)
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        path: '$(Build.ArtifactStagingDirectory)'
    - task: PowerShell@2
      inputs:
        targetType: 'filePath'
        filePath: .\CI\generate_exe.ps1
      displayName: 'Generate libiio-setup.exe'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'Libiio-Setup-Exe'
  #############################################
- stage: ManageArtifacts
  dependsOn: Builds
  #############################################
  # Deploy
  #############################################
  jobs:
  - job: CheckArtifacts
    condition: and(succeeded(), or(eq(variables.isMain, true), startsWith(variables['Build.SourceBranch'], 'refs/tags/v')))
    # Host Box
    pool:
      vmImage: 'ubuntu-latest'
    # Docker Images
    strategy:
      matrix:
        ubuntu_20_04:
          image: 'tfcollins/libiio_ubuntu_20_04-ci:latest'
          artifactName: 'Check artifacts'
    container: $[ variables['image'] ]
    steps:
    - script: |
        set -e
        mkdir build && cd build
        cmake ..
        mkdir artifacts
      displayName: 'Build artifact manifest'
    - task: DownloadPipelineArtifact@2
      inputs:
        path: '$(Agent.BuildDirectory)/s/build/artifacts'
    - script: ./CI/azure/prepare_assets.sh check
      displayName: 'Check files'
    - task: CopyFiles@2
      inputs:
        sourceFolder: '$(Agent.BuildDirectory)/s/build/'
        contents: 'artifact_manifest.txt'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'Artifact manifest'

  #############################################  
  - job: PushToSWDownloads
    dependsOn: CheckArtifacts
    condition: and(succeeded(), eq(variables.isMain, true))
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        path: '$(Build.ArtifactStagingDirectory)'
    - bash: ./CI/azure/prepare_assets.sh swdownloads
      displayName: "Prepare artifacts for SWDownloads"
    - task: DownloadSecureFile@1
      name: key
      displayName: 'Download rsa key'
      inputs:
        secureFile: 'id_rsa'
    - bash: chmod 600 $(key.secureFilePath) ; scp -2 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o HostKeyAlgorithms=+ssh-dss -i $(key.secureFilePath) -r /home/vsts/work/1/a/* $MAPPED_VAR
      env:
        MAPPED_VAR: $(SERVER_ADDRESS)
      displayName: 'Push artifacts to SW Downloads'

  ##############################################
  - job: PushToGithubRelease
    dependsOn: CheckArtifacts
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        path: '$(Build.ArtifactStagingDirectory)'
    - bash: ./CI/azure/prepare_assets.sh release
      displayName: 'Prepare assets for release'
    - task: GithubRelease@0
      displayName: 'Attach artifacts to GitHub Release'
      inputs:
        gitHubConnection: libiio-release
        repositoryName: $(Build.Repository.Name)
        action: create
        target: $(Build.SourceVersion)
        tag: $(Build.SourceBranchName)
        title: "Libiio release $(Build.SourceBranchName)"
        assets: $(Build.ArtifactStagingDirectory)/*
        addChangeLog: true
        isDraft: true
