/*
 * Copyright (c) 2026 Analog Devices, Inc.
 * SPDX-License-Identifier: MIT
 */

/*
 * A virtual UHC/UDC pair with the IIO class on the device side, so the test can
 * be both ends of the bus. native_sim's default udc0 has no host to pair with.
 */
/delete-node/ &zephyr_udc0;

/ {
	zephyr_uhc0: uhc_vrt0 {
		compatible = "zephyr,uhc-virtual";

		zephyr_udc0: udc_vrt0 {
			compatible = "zephyr,udc-virtual";
			num-bidir-endpoints = <8>;
			maximum-speed = "high-speed";

			iio_usb0: iio-usb {
				compatible = "adi,iio-usb";
			};
		};
	};
};
