# Copyright (c) 2025 Analog Devices, Inc.
# SPDX-License-Identifier: MIT

menuconfig LIBIIO
	bool "libiio support"
	depends on POSIX_API
	help
	  This option enables the libiio library.

if LIBIIO

module = LIBIIO
module-str = libiio
source "subsys/logging/Kconfig.template.log_config"

config LIBIIO_LOG_MSG_SIZE
	int "Maximum length of a single libiio log message (bytes)"
	default 128
	help
	  Each call to zephyr iio_prm_printf() formats the message into a stack-
	  allocated buffer of this size before handing it to the Zephyr
	  logging subsystem. Increase this value if libiio log messages are
	  being truncated.

rsource "drivers/Kconfig"
rsource "iiod/Kconfig"

endif # LIBIIO
