# Copyright (c) 2025 Analog Devices, Inc.
# SPDX-License-Identifier: MIT

menuconfig LIBIIO
	bool "libiio support"
	depends on POSIX_API
	help
	  This option enables the libiio library.

if LIBIIO

module = LIBIIO
module-str = libiio
source "subsys/logging/Kconfig.template.log_config"

rsource "drivers/Kconfig"
rsource "iiod/Kconfig"

endif # LIBIIO
