sphinx>=8.2
https://github.com/analogdevicesinc/doctools/releases/download/latest/adi-doctools.tar.gz
sphinxcontrib.wavedrom
myst-parser
breathe
git+https://github.com/rogerbarton/sphinx-csharp.git
sphinx-inline-tabs
sphinxcontrib-matlabdomain