.sidebar-brand {
    border-radius: .25em;
    margin: var(--sidebar-item-spacing-vertical)
                calc(var(--sidebar-item-spacing-horizontal)/2)
                0
                calc(var(--sidebar-item-spacing-horizontal)/2);
    padding: 0;
    width: 11em;
    margin-left: 2em;
}

.sidebar-brand::before {
    content: "";
    display: block;
    height: 3.5em;
    background-size: contain;
    background-image: url(adi_logo.svg);
    background-repeat: no-repeat;
}
.sidebar-brand-text {
    display: none;
}

body[data-theme="dark"] .sidebar-brand {
    color: #fff;
}

@media (min-width: 56em){
    .content {
        width: 52em;
    }
}

figure > object {
    max-width: 100%;
}

img {
    background: #fff;
    border-radius: .25em;
    padding: .5em 0;
}

.WaveDrom {
    background: #fff;
    border-radius: .25em;
    padding: .5em 0;
}

table.regmap {
    font-size: .9em;
}

table.regmap .caption-text{
    font-size: 1rem;
}

th, td.type {
    white-space: nowrap;
}
td.description {
    width: 45%;
    font-size:.8em;
}

#signal-and-interface-pins h3 {
    font-weight: normal;
}

.table-wrapper {
    overflow: visible;
}

.default {
    min-width: 5em;
    max-width: 11em;
    line-break: anywhere;
}

.default .pre {
    white-space: pre;
}

#hdl-component-diagram {
    text-align: center;
}

#hdl-component-diagram svg {
    max-width: 100%;
}