name: Zephyr

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build and test Zephyr
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, macos-15-intel, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: libiio
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@360ff9b36e58499d9eb28015cdcde7ca03a5b04d # v1.0.12
        with:
          app-path: libiio
          toolchains: arm-zephyr-eabi
          ccache-cache-key: ${{ matrix.os }}

      - name: Run Twister
        working-directory: libiio/zephyr
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T samples -v --force-color --inline-logs --integration $EXTRA_TWISTER_FLAGS
